<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-button expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/button']">点击</ion-button>
  <ion-button [routerLink]="['/news']">点击跳转到新闻</ion-button>

  <app-jj></app-jj>
</ion-content>
